.ant-btn-primary.button-rent {
    background-color: rgb(228, 158, 52);
    color: #fff;
    border: none;
    border-radius: 20px;
}

.ant-btn-primary.button-rent:hover {
    background-color: rgb(212, 106, 44);
}