.ant-btn-primary.button-rent {
     background: rgb(212, 106, 44);;
    color: #fff;
    border: none;
    border-radius: 20px;
}

.ant-btn-primary.button-rent:hover {
    background: rgb(212, 106, 44);
}

.ant-btn-primary.button-rent:focus{
    background: rgb(212, 106, 44);
}
